body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  min-width: 900px;
  background-color: white;
}


.goback {
  margin: 30px auto 0 auto;
  text-align: center;
}

/* general above!! */

.airtable {
  height: 70vh;
  margin: 0;
}

.logo {
  background-color: white;
  margin:20px auto 0px auto;
  text-align: center;
}
.buttons{
  text-align: center;
  margin:0 0 15px 0;

}

.goback {
  margin: 0px auto 0 auto;
  text-align: center;
}
.image {
  height: 10vh;
  min-height: 50px;
  margin: 3vh;
}


.pslbutton {
  background-color:#05ab15;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
height:31px;
	line-height:31px;
width:200px;
	text-decoration:none;
	text-align:center;
}.pslbutton:hover {
	background-color:#409114;
}.pslbutton:active {
	position:relative;
	top:1px;
}
