body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  min-width: 900px;
  background-color: white;
}

.goback {
  margin: 30px auto 0 auto;
  text-align: center;
}

/* general above!! */

.airtable {
  height: 80vh;
}

.logo {
  background-color: white;
  margin:20px auto 20px auto;
  text-align: center;
}

.goback {
  margin: 30px auto 0 auto;
  text-align: center;
}
.image{
  height: 70px;
}
