body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  min-width: 1212px;
  background-color: #F7F7F7;
  color: #363636;
}

html{
  scroll-behavior: smooth;
}
.goback {
  margin: 30px auto 0 auto;
  text-align: center;
}

/* general above  */

a {color: inherit;}


/*aboutbox*/
.aboutbox {

  background-image: url(../images/background-image-about.jpg);
  background-size:cover;

}
.emptybox{
  height:  166px;
  width: 100%;
  background-color: none;
  display: block;
}
.emptybox2{

  height: 30vh;
  width: 100%;
  background-color: none;
  display: block;
}
.emptybox3{

  height: 6vh;
  width: 100%;
  background-color: none;
  display: block;
}
.padding{
  padding-left: 30vh;
  padding-right: 30vh;
}
.abouthead{
  width: 100%;

}
.aboutlogo{
margin:auto 0 auto 0;
padding: 0px 50px 50px 50px;
float: left;

}

.aboutheaderone{
  color: white;
  height:50px;
  padding-bottom: 20px;
  text-


}
.aboutsubbox {

  background-color: hsla(0, 0%, 80%, 0.90);
  text-align: center;

  /* logo is 11px right from border */
}
.aboutheadertwofirst {
  color: white;
  font-weight: normal;
  line-height: 2;
  padding-right: 20px;
  padding-left: 0px;

  /* clear: left; */
}
.aboutheadertwo {
  color: white;
  font-weight: normal;
  line-height: 2;
  padding-right: 20px;
  padding-left: 20px;

  /* clear: left; */
}
.aboutheaderthree{
  color: white;
  font-weight: normal;
  line-height: 1;
}
.aboutlinks:link {
  text-decoration: none;
}
.aboutlinks:hover {
  text-decoration: underline;
}

/* what we do  */
.wwdbox{


}

.wwdheaderlink:link{
  text-decoration: none;
}
.wwdheaderlink:hover{
font-weight: bold;
}

.tableheader{

}
.wwwdpoint{
  background-color: #CDCDCD;
  margin: 20px auto  auto;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  border: none;
  display: block;

}
.headpoint{
  background-color: white;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  border: none;
  display: block;
  text-align: center;

}

.wwdruler{
  background-color: hsla(0, 0%, 60%, 0.75);
  width: 10%;
  margin: 30 auto 30 auto;
  height: 6px;
  border-radius: 10px;
  border: none;

}
.wwdhone {
  font-weight: normal;
  color: #43587D;
  text-align: center;
  padding-top: 0px;
  font-size: 2em;
}
.wwdtable{
  margin: 0 30px 0 30px;
}
.wwdtd {
  padding: 30px 50px 20px 50px;
}
.wwdhtwo {
  font-weight: lighter;
  font-size: 1.3em;
  text-align: justify;
  padding: 0px 70px 0 70px;
  line-height: 200%;


}

.wwdimage {
  height: 100px;
  float:left;
  padding: 30px;
}

.wwdbutton {
	-moz-box-shadow: 4px 6px 8px  ;
	-webkit-box-shadow: 4px 6px 8px  ;
	box-shadow: 4px 6px 8px  ;
	background-color:#6DD077;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:52px;
	line-height:52px;
width:173px;
	text-decoration:none;
	text-align:center;
  margin: 20px auto 90px auto;
  display:block;

}
.wwdbutton:hover {
	background-color:#07b507;
}
.wwdbutton:active {
	position:relative;
	top:1px;}

.buttonstable{
  margin:0 auto 0 auto;
  padding: 0;
}

.airtable {
    height: 75vh;
    width: 97%;
    margin: 20px auto 0 auto;
    display: block;
    border: 2px solid #CCC;
    border-radius: 5px;
    /* frameborder="3px"; */
    /* onmousewheel=""; */

}

.goback {
  text-align: center;
  padding:0 0 5px 0;
}

/*classes for footer*/
.footerbox {
  background-color: #43587D;
  height: 100px;
  padding: 10px;
  position: relative;
  margin-top: 30px;
}

.footertablehead {
  color: #ffffff;
  padding: 0 20px 0 20px;
  text-align: left;


}

.footersubtable {
  padding: 0 20px 0 20px;
  color: white;
  font-weight: lighter;


}

.footerlinks:link {
  text-decoration: none;
}
.footerlinks:hover {
  text-decoration: underline;
}

/*classes for bottom*/
.bottombox {
  /* background-color:  ; */
  height: 15vh;
  min-height: 22px;
  text-align: center;

}
.bottomimage {
  margin: 0 0 300px 0;
  height:35%;
}

.bottomtitle {
  color: grey;
  height: 30%;
  font-size: small;
  padding: 10px 0 0 0;
  margin: 0;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-weight: lighter;
}


/* INformation */
.infoimage {
  height: 200px;
  border-radius: 100%;

}
